<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.mapper.hotelOrder.HotelOrderMapper">
	<!-- 根据userId查找酒店订单  -->

	<select id="getHotelOrderByUserId" resultType="HotelOrder">
	
		SELECT h.*,o.status AS orderStatusName FROM hotelorder h,orderstatus o
			WHERE h.orderStatus = o.id  AND h.`userId` = #{userId}
			
			<if test="hotelname != null and hotelname != '' ">
				and hotelname like CONCAT ('%',#{hotelname},'%')
			</if>
			<if test="orderstatus != null and orderstatus != '' ">
				and orderstatus = #{orderstatus}
			</if>
			order by createDate DESC limit #{from},#{pageSize}
		
	</select>
	
	<!--  获取订单总数 -->
	 <select id="getHotelOrderCount" resultType="int">
	 	select count(1) as count from hotelorder where userId = #{userId}
	 		<if test="hotelname != null and hotelname != '' ">
				and hotelname like CONCAT ('%',#{hotelname},'%')
			</if>
			<if test="orderstatus != null and orderstatus != '' ">
				and orderstatus = #{orderstatus}
			</if>
	 
	 </select>
	 
	 <!--  根据id删除订单 -->
	 <delete id="deleteHotelOrderById" parameterType="int">
	 	delete from hotelorder where id = #{id}
	 </delete>
	 
	 <!--  根据id查找订单 -->
	 <select id="getHotelOrderInfoById" resultType="Hotelorder">
	 	select h.*,o.status AS orderStatusName from hotelOrder h,orderstatus o
	 	 where h.orderStatus = o.id and h.id=#{id}
	 </select>
	 
	
	 
	 
	
</mapper>