<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mapper.comments.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.Comments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotelid" property="hotelid" jdbcType="INTEGER" />
    <result column="hotelname" property="hotelname" jdbcType="VARCHAR" />
    <result column="cleanscore" property="cleanscore" jdbcType="INTEGER" />
    <result column="locationscore" property="locationscore" jdbcType="INTEGER" />
    <result column="servicescore" property="servicescore" jdbcType="INTEGER" />
    <result column="FacilitiesScore" property="facilitiesscore" jdbcType="INTEGER" />
    <result column="commentinfo" property="commentinfo" jdbcType="VARCHAR" />
    <result column="totalscore" property="totalscore" jdbcType="INTEGER" />
    <result column="createby" property="createby" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifyby" property="modifyby" jdbcType="INTEGER" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="commentsImg" property="commentsimg" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="getCommentsCount" resultType="int">
  	select count(1) as count from comments
  </select>
  
  <select id="getCommentsList" resultType="comments">
  	select * from comments
  		order by createdate DESC limit #{form},#{pageSize}
  </select>
  
  
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotelid, hotelname, cleanscore, locationscore, servicescore, FacilitiesScore, 
    commentinfo, totalscore, createby, createdate, modifyby, modifydate, orderno, commentsImg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bdqn.pojo.CommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bdqn.pojo.CommentsExample" >
    delete from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.Comments" >
    insert into comments (id, hotelid, hotelname, 
      cleanscore, locationscore, servicescore, 
      FacilitiesScore, commentinfo, totalscore, 
      createby, createdate, modifyby, 
      modifydate, orderno, commentsImg
      )
    values (#{id,jdbcType=INTEGER}, #{hotelid,jdbcType=INTEGER}, #{hotelname,jdbcType=VARCHAR}, 
      #{cleanscore,jdbcType=INTEGER}, #{locationscore,jdbcType=INTEGER}, #{servicescore,jdbcType=INTEGER}, 
      #{facilitiesscore,jdbcType=INTEGER}, #{commentinfo,jdbcType=VARCHAR}, #{totalscore,jdbcType=INTEGER}, 
      #{createby,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=INTEGER}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{orderno,jdbcType=VARCHAR}, #{commentsimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelid != null" >
        hotelid,
      </if>
      <if test="hotelname != null" >
        hotelname,
      </if>
      <if test="cleanscore != null" >
        cleanscore,
      </if>
      <if test="locationscore != null" >
        locationscore,
      </if>
      <if test="servicescore != null" >
        servicescore,
      </if>
      <if test="facilitiesscore != null" >
        FacilitiesScore,
      </if>
      <if test="commentinfo != null" >
        commentinfo,
      </if>
      <if test="totalscore != null" >
        totalscore,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="modifyby != null" >
        modifyby,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="commentsimg != null" >
        commentsImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="cleanscore != null" >
        #{cleanscore,jdbcType=INTEGER},
      </if>
      <if test="locationscore != null" >
        #{locationscore,jdbcType=INTEGER},
      </if>
      <if test="servicescore != null" >
        #{servicescore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesscore != null" >
        #{facilitiesscore,jdbcType=INTEGER},
      </if>
      <if test="commentinfo != null" >
        #{commentinfo,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null" >
        #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=INTEGER},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="commentsimg != null" >
        #{commentsimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bdqn.pojo.CommentsExample" resultType="java.lang.Integer" >
    select count(*) from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comments
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotelid != null" >
        hotelid = #{record.hotelid,jdbcType=INTEGER},
      </if>
      <if test="record.hotelname != null" >
        hotelname = #{record.hotelname,jdbcType=VARCHAR},
      </if>
      <if test="record.cleanscore != null" >
        cleanscore = #{record.cleanscore,jdbcType=INTEGER},
      </if>
      <if test="record.locationscore != null" >
        locationscore = #{record.locationscore,jdbcType=INTEGER},
      </if>
      <if test="record.servicescore != null" >
        servicescore = #{record.servicescore,jdbcType=INTEGER},
      </if>
      <if test="record.facilitiesscore != null" >
        FacilitiesScore = #{record.facilitiesscore,jdbcType=INTEGER},
      </if>
      <if test="record.commentinfo != null" >
        commentinfo = #{record.commentinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.totalscore != null" >
        totalscore = #{record.totalscore,jdbcType=INTEGER},
      </if>
      <if test="record.createby != null" >
        createby = #{record.createby,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyby != null" >
        modifyby = #{record.modifyby,jdbcType=INTEGER},
      </if>
      <if test="record.modifydate != null" >
        modifydate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.commentsimg != null" >
        commentsImg = #{record.commentsimg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comments
    set id = #{record.id,jdbcType=INTEGER},
      hotelid = #{record.hotelid,jdbcType=INTEGER},
      hotelname = #{record.hotelname,jdbcType=VARCHAR},
      cleanscore = #{record.cleanscore,jdbcType=INTEGER},
      locationscore = #{record.locationscore,jdbcType=INTEGER},
      servicescore = #{record.servicescore,jdbcType=INTEGER},
      FacilitiesScore = #{record.facilitiesscore,jdbcType=INTEGER},
      commentinfo = #{record.commentinfo,jdbcType=VARCHAR},
      totalscore = #{record.totalscore,jdbcType=INTEGER},
      createby = #{record.createby,jdbcType=INTEGER},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      modifyby = #{record.modifyby,jdbcType=INTEGER},
      modifydate = #{record.modifydate,jdbcType=TIMESTAMP},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      commentsImg = #{record.commentsimg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.Comments" >
    update comments
    <set >
      <if test="hotelid != null" >
        hotelid = #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="hotelname != null" >
        hotelname = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="cleanscore != null" >
        cleanscore = #{cleanscore,jdbcType=INTEGER},
      </if>
      <if test="locationscore != null" >
        locationscore = #{locationscore,jdbcType=INTEGER},
      </if>
      <if test="servicescore != null" >
        servicescore = #{servicescore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesscore != null" >
        FacilitiesScore = #{facilitiesscore,jdbcType=INTEGER},
      </if>
      <if test="commentinfo != null" >
        commentinfo = #{commentinfo,jdbcType=VARCHAR},
      </if>
      <if test="totalscore != null" >
        totalscore = #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        modifyby = #{modifyby,jdbcType=INTEGER},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="commentsimg != null" >
        commentsImg = #{commentsimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.Comments" >
    update comments
    set hotelid = #{hotelid,jdbcType=INTEGER},
      hotelname = #{hotelname,jdbcType=VARCHAR},
      cleanscore = #{cleanscore,jdbcType=INTEGER},
      locationscore = #{locationscore,jdbcType=INTEGER},
      servicescore = #{servicescore,jdbcType=INTEGER},
      FacilitiesScore = #{facilitiesscore,jdbcType=INTEGER},
      commentinfo = #{commentinfo,jdbcType=VARCHAR},
      totalscore = #{totalscore,jdbcType=INTEGER},
      createby = #{createby,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      modifyby = #{modifyby,jdbcType=INTEGER},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      orderno = #{orderno,jdbcType=VARCHAR},
      commentsImg = #{commentsimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>